{% extends 'base.html' %}

{%block title%}Home{%endblock title%}

{%block body%}

<div class="container-fluid my-3">
    <img src="/static/img/about.jfif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.65);margin-bottom:90px;">
      <h3><b>ABOUT US</b></h3>
      <p>Discover Our Journey: Unveiling the Essence of RMW AIRLINES</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:30px;"><b>Learn more about our History, our Business and Sustainability Initiatives</b></h5>
  </div>
  <div id="about-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:1000px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;border-radius:11px;"></div>
  <div class="container">
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:70px;">Welcome to <b>RMW AIRLINES</b>, where exceptional journeys begin. With a rich history spanning</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">several decades, we have established ourselves as a renowned airline dedicated to providing</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">unparalleled travel experiences. Our commitment to safety, comfort, and exceptional service</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">has made us a trusted choice for millions of passengers worldwide.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">At <b>RMW AIRLINES</b>, we believe that every journey should be an extraordinary one. From the</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">moment you step on board, our attentive and professional crew will ensure that your travel</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">experience is nothing short of exceptional. Our state-of-the-art fleet of aircraft is equipped</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">with the latest technology and amenities, designed to provide you with the utmost comfort</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">throughout your flight.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">As an airline, we take pride in our extensive global network. With an extensive range of </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">destinations, we connect you to the world's most captivating cities, breathtaking landscapes,</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">and hidden gems. Whether you are embarking on a business trip or planning a well-deserved</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">vacation, our diverse range of routes ensures that we can take you wherever your wanderlust</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;"> desires.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">We understand that travel is not just about reaching your destination; it is about creating</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">memorable moments along the way. That's why we strive to make your time on board as</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">enjoyable as possible. Our inflight entertainment systems offer a wide selection of movies,</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">music, and games to keep you entertained throughout your journey. Additionally, our</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">culinary team takes pride in curating a delightful dining experience, serving a range of</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">delectable dishes inspired by global cuisines.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">As part of our commitment to sustainability, we actively work towards minimizing our </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">environmental impact. We are dedicated to implementing eco-friendly practices across our</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">operations, from reducing carbon emissions to investing in fuel-efficient aircraft and</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">supporting local conservation initiatives.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">Thank you for choosing <b>RMW AIRLINES</b>. We are honored to have you on board, and we look</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">forward to serving you on your next journey. Sit back, relax, and let us take you on a </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">remarkable travel experience that exceeds your expectations.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;"> Welcome to the world of <b>RMW AIRLINES</b></h6>
  </div>
{%endblock body%}