{% extends 'EmpHome.html' %}

{% block title %}Benefits{% endblock title %}

{% block body %}

<div class="container-fluid my-3">
    <img src="/static/img/services.jfif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.65);margin-bottom:90px;">
      <h3><b>EMPLOYEE ASSISTANCE PROGRAMS</b></h3>
      <p>Elevate Your Journey with Exceptional Employee Services</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:30px;"><b>Elevating Careers, Empowering Lives: Our Employee Benefits Soar Above the Rest!</b></h5>
  </div>
  <div id="about-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:600px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;border-radius:11px;"></div>
  <div class="container">
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-right:220px;margin-top:100px;font-size:20px;">RMW Airlines recognizes that employees may face personal challenges that can impact their well-being and work performance. To support their mental and emotional health, the company offers Employee Assistance Programs (EAP). These programs provide confidential counseling, resources, and support for employees and their families. Whether employees are dealing with stress, relationship issues, financial concerns, or other personal matters, the EAP offers professional guidance to help them navigate challenges effectively. RMW Airlines understands the importance of a healthy work-life balance and aims to provide a supportive environment for its employees. The Employee Assistance Programs serve as a valuable resource, reinforcing the company's commitment to the overall well-being of its workforce and creating a culture of support and understanding.</h6>

{% endblock body %}