{% extends 'EmpHome.html' %}

{% block title %}Benefits{% endblock title %}

{% block body %}

<div class="container-fluid my-3">
    <img src="/static/img/services.jfif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.65);margin-bottom:90px;">
      <h3><b>BONUSES</b></h3>
      <p>Elevate Your Journey with Exceptional Employee Services</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:30px;"><b>Elevating Careers, Empowering Lives: Our Employee Benefits Soar Above the Rest!</b></h5>
  </div>
  <div id="about-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:600px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;border-radius:11px;"></div>
  <div class="container">
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-right:220px;margin-top:100px;font-size:20px;">RMW Airlines values the hard work and dedication of its employees and believes in recognizing and rewarding exceptional performance. As a part of its employee benefits package, the company offers bonuses to deserving individuals. These bonuses can be based on various factors, including individual achievements, team successes, or company-wide performance. By offering bonuses, RMW Airlines acknowledges the outstanding contributions of its employees and provides them with additional financial incentives. This not only serves as a motivational tool but also reinforces a culture of excellence and encourages employees to continue delivering their best. The bonuses offered by RMW Airlines demonstrate the company's commitment to recognizing and appreciating the efforts of its employees, fostering a positive and rewarding work environment.</h6>

{% endblock body %}