{% extends 'base.html' %}

{% block title %}Tracking{% endblock title %}

{% block body %}

<div id="track-back" style="left:33%;background-color: rgba(157, 18, 18,.25);width:450px;height:450px;text-decoration:none;position:absolute;margin-top:50px;border-radius:11px;"></div>
<h1 style="text-transform:uppercase;text-decoration:none;margin-top:100px;margin-left:460px;color:#9d1212;"><b>cancel booking</b></h1>
<form action="{% url 'cancel booking' %}" method="POST">
    {% csrf_token %}
    <div style="position:relative;">
        <label for="ResNo" style="margin-top:70px;margin-left:480px;"><b>Reservation No:</b></label>
        <input name="ResNo" type="number" required>
    </div>
    <div>
        <button id="cancelButton" class="btn btn-sm btn-outline-secondary" type="submit" style="background-color: rgb(157, 18, 18);text-decoration:none;color:white;margin-left:555px;margin-top:50px;text-transform:uppercase;position:absolute;">Confirm Cancellation</button>
    </div>
</form>

{% for message in messages %}
    {% if message.tags == 'success' %}
        <div class="toast-body bg-success text-light position-fixed top-0 end-0 p-3" style="z-index:11;border-radius:4px;{% if not showToast %} display: none; {% endif %}" id="cancelToast">Your Reservation is Canceled</div>
    {% endif %}
{% endfor %}

<script>
    const cancelButton = document.getElementById('cancelButton');
    const cancelToast = document.getElementById('cancelToast');
    cancelButton.addEventListener('click', () = {
        cancelToast.style.display = 'block';
    });
</script>

{% endblock body %}