{% extends 'base.html' %}

{%block title%}Confirm{%endblock title%}

{%block body%}
<h1 style="text-transform:uppercase;text-decoration:none;margin-top:60px;margin-bottom:20px;margin-left:465px;color:#9d1212;"><b>booking details</b></h1>
<img src="/static/img/booking.avif" class="d-block w-50" alt="airplane" height="450px" style="position:absolute;margin-left:350px;z-index:9999;margin-top:125px;top:0;">
<div class="card-body"  style="background-color:rgba(157, 18, 18,.3);border-radius:5.5px;color:rgb(33 37 41);margin-left:110px;margin-right:110px;padding:0.5px;height:350px;"> 
    <p class="card-text" style="margin-left:150px;margin-top:30px;position:absolute;"><b>Reservation No: {{Reservation.reservationno}}</b> </p>
    <p class="card-text" style="margin-left:620px;margin-top:30px;"><b>Flight No: {{Reservation.flightno.flightno}} </b></p>
    {% for flyAir in Airline_Flights %}
        {% if flyAir.flightno.flightno == Reservation.flightno.flightno %}
            {% for airline in Airlines %}
                {% if flyAir.licenseno.licenseno == airline.licenseno %}
                    <p class="card-text" style="position:absolute;margin-left:150px;"><b>Airline Name: {{airline.airlinename}}</b></p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <p class="card-text" style="margin-left:620px;"><b>Flight Status: {{Reservation.flightno.status}} </b></p>
    <p class="card-text" style="position:absolute;margin-left:150px;"><b>Reservation Date: {{Reservation.reservationdate}}</b> </p>
    <p class="card-text" style="margin-left:620px;"><b>Booking Status: {{Reservation.bookingstatus}}</b> </p>
    <p class="card-text" style="position:absolute;margin-left:150px;"><b>Arrival Date: {{Reservation.flightno.arrivaldate}}</b></p>
    <p class="card-text" style="margin-left:620px;"><b>Arrival Time: {{Reservation.flightno.arrivaltime}}</b> </p>
    <p class="card-text" style="position:absolute;margin-left:150px;"><b>Departure Date {{Reservation.flightno.departuredate}}</b> </p>
    <p class="card-text" style="margin-left:620px;"> <b>Departure Time {{Reservation.flightno.departuretime}}</b></p>
    <p class="card-text" style="position:absolute;margin-left:150px;"><b>Destination: {{Reservation.flightno.destination}}</b> </p>
    <p class="card-text" style="margin-left:620px;"><b>Departure: {{Reservation.flightno.departure}} </b></p>
    <p class="card-text" style="position:absolute;margin-left:150px;"><b>Total Cost of {{NoOfPassengers}} Passengers(@PKR100): {{TotalCost}} </b></p>

</div>
<label style="color:rgb(33 37 41);text-decoration:none;text-transform:uppercase;margin-left:120px;margin-top:30px;"><b>Passenger Tickets:</b></label>

{% for resticket in ReservedTickets %}
    {% for Person in Persons %}
        {% if Person.personid == resticket.ticketno.personid.personid %}
            <div class="card-body"  style="background-color:rgba(157, 18, 18,.3);border-radius:5.5px;color:rgb(33 37 41);margin-left:110px;margin-right:110px;padding:10px;margin-top:30px;height:250px;">  
            <div id="top" style="background-color: rgba(157, 18, 18);width:125px;height:35px;text-decoration:none;position:absolute;margin-left:60px;margin-top:100px;border-radius:63px"></div>
            <h5 style="color:white;position:absolute;margin-left:70px;margin-top:104px;"><b>Ticket #{{resticket.ticketno.ticketno}}</b></h5>
            <p class="card-text" style="position:absolute;margin-left:250px;margin-top:37px;"><b>Fare: {{resticket.ticketno.fare}} </b></p>
            <p class="card-text" style="margin-left:470px;margin-top:37px;"><b>Seat No: {{resticket.ticketno.seatno}}</b> </p>
            <p class="card-text" style="position:absolute;margin-left:250px;"><b>Firstname: {{Person.firstname}} </b></p>
            <p class="card-text" style="position:absolute;margin-left:470px;"><b>Middlename: {{Person.middlename}}</b> </p>
            <p class="card-text" style="margin-left:670px;margin-top:15px;"><b>Lastname: {{Person.lastname}} </b></p>
            <p class="card-text" style="position:absolute;margin-left:250px;"><b>Phno: {{Person.phoneno}}</b> </p>
            <p class="card-text" style="position:absolute;margin-left:470px;"><b>Address: {{Person.address}} </b></p>
            <p class="card-text" style="margin-left:670px;margin-top:15px;"><b>Age: {{Person.age}} </b></p>
            <p class="card-text" style="position:absolute;margin-left:250px;"><b>Gender: {{Person.gender}} </b></p>
            
            {% for belonging in Belongings %}
                {% if Person == belonging.personid %}
                    <p class="card-text" style="position:absolute;margin-left:470px;"><b>Luggage No: {{belonging.luggageno.luggageno}}</b> </p>
                    <p class="card-text" style="margin-left:670px;margin-top:15px;"><b>No of Bags: {{belonging.luggageno.noofbags}} </b></p>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}           
{% endfor %}

{%endblock body%}