<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock title %} | RMW AIRLINES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      #parent{position:relative;}
      .logo_area a{position:absolute;top:0;left:25px;width:75;height:105;z-index:9999;}
      #aunthenticated-user{display:inline-block;padding-left:450px;text-transform:uppercase;margin-top:6px;}
      #registration{display:inline-block;padding-left:450px;text-transform:uppercase;}
      #visitor{margin-top:6px;}
      #signup{text-decoration:none;padding-left:10px;color:#b71919;}
      #login{text-decoration:none;padding-left:10px;color:#b71919;}
      #logout{text-decoration:none;padding-left:10px;margin-top:4px;color:#b71919;}
    </style>
  </head>
  <body>
    <div id="parent">
      <div class="logo_area"><a>
      <img src="/static/img/logo.avif" alt="RMW AIRLINES" width="110" height="120" style="position:absolute;top=0"></div></a>
      <div class="main_menu_inner">
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
          <div class="container-fluid" style="margin-left:130px;top:0;position:relative;">
            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/EmpHome"><b>HOME</b></a> {% comment %} index.html {% endcomment %}
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/EmpProfile"><b>PROFILE</b></a> {% comment %} book.html {% endcomment %}
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/EmpFlights"><b>FLIGHTS</b></a> {% comment %} book.html {% endcomment %}
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/EmpPolicy"><b>POLICIES</b></a> {% comment %} book.html {% endcomment %}
                  </li>
                <div class="authentication">          
                  {% if user.is_authenticated %}
                    <div class="rightalign">
                      <div class="dropdown" id="aunthenticated-user">
                        <a class="dropbtn " style="background-color: rgba(97, 86, 86,.5);text-decoration:none;color:white;">{{user.first_name}}</a>                                       
                        <a id="logout" href="{% url 'logout' %}"><b>Logout</b></a>                
                      </div>
                    </div>
                  {% endif %}
                </div>
              </ul>
            </div>
          </div> 
      </nav></div>
    </div>
    <footer class="footer"  style="position:absolute;botom:0;left:0;right:0;margin-top:1700px">
      <div class="inner-footer" style="margin:0;padding:0;background-color:rgb(33 37 41);">
          <div class="outer-footer" style="padding:10px;text-align:center;color:white;">
             <b> FOLLOW US </b>
          </div>
          <div class="social-links" style="display:flex;">
              <ul style="display:flex;width:380px;height:80px;margin:auto;padding:10px">
                  <li class="social-items" style="list-style:none;"><a href="#" style="padding:10px 20px;font-size:35px;color:#b71919;"><i class="fa-brands fa-square-facebook"></i></a></li>
                  <li class="social-items" style="list-style:none;"><a href="#" style="padding:10px 20px;font-size:35px;color:#b71919;"><i class="fa-brands fa-square-twitter"></i></a></li>
                  <li class="social-items" style="list-style:none;"><a href="#" style="padding:10px 20px;font-size:35px;color:#b71919;"><i class="fa-brands fa-square-google-plus"></i></a></li>
                  <li class="social-items" style="list-style:none;"><a href="#" style="padding:10px 20px;font-size:35px;color:#b71919;"><i class="fa-brands fa-square-instagram"></i></a></li>
                  <li class="social-items" style="list-style:none;"><a href="#" style="padding:10px 20px;font-size:35px;color:#b71919;"><i class="fa-brands fa-square-tumblr"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="outer-footer" style="padding:10px;text-align:center;color:white;background-color:#3f3f3f;">
          Copyright &copy;RMW AIRLINES. All Rights Reserved.
      </div>
  </footer>
  
{% block body %} {% endblock body %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>     

</body>
</html>