{% extends 'EmpHome.html' %}

{% block title %}Policies{% endblock title %}

{% block body %}

<div class="container-fluid my-3">
    <img src="/static/img/about.jfif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.65);margin-bottom:90px;">
      <h3><b>POLICIES AND PROCEDURES</b></h3>
      <p>Setting the Standard: Policies That Drive Excellence</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:30px;"><b>Learn more about our Guiding Principles for Success and Compliance</b></h5>
  </div>
  <div id="about-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:1000px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;border-radius:11px;"></div>
  <div class="container">
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:80px;"><b>RMW AIRLINES</b> is committed to prioritizing the safety of its passengers, crew, and aircraft. </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">Stringent adherence to national and international aviation safety regulations is a </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">fundamental aspect of the company's operations. This includes conducting regular safety</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">training and drills to ensure preparedness for emergency situations. Additionally,</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;"><b>RMW AIRLINES</b> maintains a strong focus on customer service, emphasizing professionalism,</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">courtesy, and attentiveness to meet passengers' needs. The company provides timely and</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">accurate information regarding flight schedules and delays, and actively addresses</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">customer complaints and feedback.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">Security is a paramount concern for <b>RMW AIRLINES</b>. The company implements rigorous </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">access control measures for restricted areas, while baggage and passenger screening</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">protocols adhere to strict security standards. RMW Airlines places a strong emphasis on </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">environmental sustainability, implementing measures to reduce fuel consumption, manage</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">waste, and minimize noise pollution.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">In terms of operations, <b>RMW AIRLINES</b> follows detailed procedures for flight planning,</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">dispatch, and monitoring. The airline also places significant importance on aircraft</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">maintenance, adhering to manufacturer recommendations and regulatory requirements.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">Crew management is carefully managed, ensuring proper scheduling, duty hours, rest</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">periods, and ongoing training. Ground operations, such as check-in, baggage handling, and </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">boarding, are executed with efficiency and passenger satisfaction in mind.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;">Financial stability is a key focus for <b>RMW AIRLINES</b>, following sound financial practices and</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">maintaining transparency in accounting and reporting. Human resources policies are </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">designed to attract and retain qualified employees, emphasizing equal employment </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">opportunities, performance evaluation, compensation, and benefits. Crisis management </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">procedures are established to effectively handle emergency situations, ensuring the safety </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">and well-being of passengers, crew, and aircraft.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-top:20px;"><b>RMW AIRLINES</b> maintains a commitment to safety, customer service, efficient </h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">operations, security, environmental sustainability, financial stability, and employee well-being</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">These policies and procedures form the foundation for the company's operations,</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;">ensuring a high standard of service and compliance with industry regulations.</h6>
  </div>
{%endblock body%}