{% extends 'base.html' %}

{%block title%}Home{%endblock title%}

{%block body%}

<div class="container-fluid my-3">
    <img src="/static/img/faq.avif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.55);margin-bottom:90px;">
      <h3 style="font-size:40px;"><b>FAQ</b></h3>
      <p>Navigating Your Journey with Ease</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:25px;"><b>Answers to Your Travel Queries</b></h5>
  </div>
  <div id="top" style="background-color: rgba(157, 18, 18);width:115px;height:35px;text-decoration:none;position:absolute;margin-left:215px;border-radius:63px"></div>
  <h6 class="text-center" style="color:white;position:absolute;margin-left:223px;margin-top:7px;"><b>QUESTION: 1</b></h6>
  <div id="faq-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:150px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;margin-top:10px;border-radius:11px"></div>
  <h6 class="center-text" style="color:#212529;margin-left:260px;margin-top:72px;">Q: How can I make a reservation?</h6>
  <h6 class="center-text" style="color:#212529;margin-left:260px;">A: Making a reservation is quick and easy. You can book your flight online through</h6>
  <h6 class="center-text" style="color:#212529;margin-left:260px;">our website,or you can contact our dedicated reservation team via phone or email</h6>
  <h6 class="center-text" style="color:#212529;margin-left:260px;">for personalized assistance.</h6>
  
</div>

<div id="top" style="background-color: rgba(157, 18, 18);width:115px;height:35px;text-decoration:none;position:absolute;margin-left:215px;margin-top:40px;border-radius:63px;padding:0px 20px"></div>
<h6 class="text-center" style="color:white;position:absolute;margin-left:223px;margin-top:47px;"><b>QUESTION: 2</b></h6>
<div id="faq-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:180px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;margin-top:50px;border-radius:11px"></div>
<h6 class="center-text" style="color:#212529;margin-left:260px;margin-top:89px;">Q: What is the baggage allowance?</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">A: The baggage allowance may vary depending on your ticket type and destination.</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">We provide specific guidelines regarding baggage weight and dimensions on our</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">website. Feel free to check our baggage policy or contact our customer service</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">for further details.</h6>

</div>

<div id="top" style="background-color: rgba(157, 18, 18);width:115px;height:35px;text-decoration:none;position:absolute;margin-left:215px;margin-top:40px;border-radius:63px"></div>
<h6 class="text-center" style="color:white;position:absolute;margin-left:223px;margin-top:47px;"><b>QUESTION: 3</b></h6>
<div id="faq-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:180px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;margin-top:50px;border-radius:11px"></div>
<h6 class="center-text" style="color:#212529;margin-left:260px;margin-top:89px;">Q: Can I make changes to my booking?</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">A: Yes, you can make changes to your booking, such as modifying the travel dates</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">or passenger details. However, please note that certain restrictions and fees</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">may apply. We recommend contacting our customer service or visiting our Manage</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">Booking section on the website to make any necessary changes.</h6>

</div>

<div id="top" style="background-color: rgba(157, 18, 18);width:115px;height:35px;text-decoration:none;position:absolute;margin-top:40px;margin-left:215px;border-radius:63px"></div>
<h6 class="text-center" style="color:white;position:absolute;margin-left:223px;margin-top:47px;"><b>QUESTION: 4</b></h6>
<div id="faq-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:180px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;margin-top:50px;border-radius:11px"></div>
<h6 class="center-text" style="color:#212529;margin-left:260px;margin-top:89px;">Q: What are the check-in options?</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">A: We offer convenient check-in options to suit your preference. You can check in</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">online through our website or mobile app, or you can check in at the airport </h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">counter. Online check-in is available within a specified time frame before your</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">flight departure.</h6>

</div>

<div id="top" style="background-color: rgba(157, 18, 18);width:115px;height:35px;text-decoration:none;position:absolute;margin-top:40px;margin-left:215px;border-radius:63px"></div>
<h6 class="text-center" style="color:white;position:absolute;margin-left:223px;margin-top:47px;"><b>QUESTION: 5</b></h6>
<div id="faq-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:200px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;margin-top:50px;border-radius:11px"></div>
<h6 class="center-text" style="color:#212529;margin-left:260px;margin-top:89px;">Q: What measures are in place for passenger safety and security?</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">A: Your safety and security are our top priorities. We adhere to stringent safety </h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">standards and protocols set by aviation authorities. We have implemented </h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">comprehensive safety measures, including enhanced cleaning procedures, cabin</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">air filtration systems, and contactless procedures to ensure a safe and</h6>
<h6 class="center-text" style="color:#212529;margin-left:260px;">comfortable journey for all passengers.</h6>

</div>

{%endblock body%}