<!DOCTYPE html>
<head>
    <title>User Booking|RMWAirlines</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #parent{position:relative}
        .logo_area a{position:absolute;top:0;left:25px;width:75;height:105;z-index:9999;}
    </style>    
</head>
<body>
    <div id="parent">
    <div class="logo_area"><a>
    <img src="/static/img/logo.avif" alt="RMW AIRLINES" width="110" height="120" style="position:absolute;top=0"></div></a>
    <div class="main_menu_inner">
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
        <div class="container-fluid" style="margin-left:130px;top:0;position:relative;">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><b>HOME</b></a> {% comment %} index.html {% endcomment %}
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/book"><b>BOOKING</b></a> {% comment %} book.html {% endcomment %}
                </li>
                
                <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>MANAGE</b>
                </a>
                <ul class="dropdown-menu"><span></span>
                    <li><a class="dropdown-item" href="/track"><b>TRACK RESERVATION</b></a></li>
                    <li><a class="dropdown-item" href="/change"><b>CHANGE BOOKING</b></a></li>
                    <li><a class="dropdown-item" href="/cancel"><b>CANCEL BOOKING</b></a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/about"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/faq"><b>FAQ</b></a>
                </li>
            </ul>
        </div>
        </div> 
    </nav></div>
</div>

    <h1 style="text-transform:uppercase;text-decoration:none;margin-top:60px;margin-bottom:20px;margin-left:480px;color:#9d1212;">Confirm Booking </h1>
    <label style="color:rgb(33 37 41);text-decoration:none;text-transform:uppercase;margin-left:120px;margin-top:10px;margin-bottom:20px;"><b>Choosen Flight Details:</b></label>
    {% for flight in Flight %}
    <img src="/static/img/booking.avif" class="d-block w-50" alt="airplane" height="300px" style="position:absolute;margin-left:349px;margin-top:190px;z-index:9999;top:0;">
    <div class="card-body"  style="background-color:rgba(157, 18, 18,.3);border-radius:5.5px;color:rgb(33 37 41);margin-left:110px;margin-right:110px;padding:0.5px;height:190px;"> 
        <p class="card-text" style="margin-left:150px;margin-top:20px;" ><b>FlightNo: {{flight.flightno}}</b></p>
        <p class="card-text" style="position:absolute;margin-left:150px;"><b>Departure: {{flight.departure}}</b></p>
        <p class="card-text" style="margin-left:620px;"><b>Destination: {{flight.destination}}</b></p>                        
        <p class="card-text" style="position:absolute;margin-left:150px;" ><b>Departure Date: {{flight.departuredate}}</b></p>
        <p class="card-text" style="margin-left:620px;" ><b>Departure time: {{flight.departuretime}}</b></p>                       
        <p class="card-text" style="position:absolute;margin-left:150px;" ><b>Arrival Date: {{flight.arrivaldate}}</b></p>
        <p class="card-text" style="margin-left:620px;margin-bottom:20px;" ><b>Arrival time: {{flight.arrivaltime}}</b></p>
    </div>

    <form action="{%url "Final Booking" flightno=flight.flightno NoOfPassengers=NoOfPassengers %}" method="post">
        {% csrf_token %}
        <label for="Reservation Date" style="color:rgb(33 37 41);text-decoration:none;text-transform:uppercase;margin-left:120px;margin-top:60px;"><b>Reservation Date</b></label>
        <input type="date" id="Reservation Date" name="Reservation Date" placeholder="Enter Today's Date" required>
    
        {% for i in loopvar %}
                <h6 style="color:rgb(33 37 41);text-decoration:none;text-transform:uppercase;margin-left:120px;margin-top:50px;margin-bottom:20px;"><b>Enter Details of Passenger {{i}}</b></h6>
                
                <label for="username{{i}}" style="margin-left:120px;margin-top:10px;"><b>User Name:</b></label>
                <input type="text" placeholder="Enter User Name " name="username{{i}}" required>
            
                <label for="psw{{i}}" style="position:absolute;margin-top:10px;margin-left:50px;"><b>Password:</b></label>
                <input type="password" style="margin-left:130px;" placeholder="Enter Password " name="psw{{i}}" required>
                
                <label for="firstname{{i}}" style="margin-left:50px;position" ><b>First Name:</b></label>
                <input type="text" id="firstname{{i}}" name="firstname{{i}}"  placeholder="Enter first name" required>
                
                <label for="middlename{{i}}" style="position:absolute;margin-top:50px;right:82.2%;"><b>Middle Name:</b></label>
                <input type="text" id="middlename{{i}}" style="margin-left:229px;margin-top:12.5px;" name="middlename{{i}}" placeholder="Enter middle name" required>
                
                <label for="lastname{{i}}" style="margin-left:32px;"><b>Last Name:</b></label>
                <input type="text" id="lastname{{i}}" name="lastname{{i}}" placeholder="Enter last name" required>
                
                <label for="age{{i}}" style="margin-left:44px;"><b>Age:</b></label>
                <input type="number" id="age{{i}}" name="age{{i}}" placeholder="Enter age" required>
                
                <label for="gender{{i}}" style="margin-top:57px;position:absolute;right:85.7%;"><b>Gender:</b></label>
                <input type="text" id="gender{{i}}" style="margin-left:183px;margin-top:12.5px;" name="gender{{i}}" placeholder="Enter gender" required>
                
                <label for="phno{{i}}" style="margin-left:77.5px;"><b>Phone No:</b></label>
                <input type="tel" id="phno{{i}}" style="margin-bottom:30px;" name="phno{{i}}" placeholder="Enter phone number" required>
                
                <label for="address{{i}}" style="margin-left:51px;"><b>Address:</b></label>
                <input type="text" id="address{{i}}"  name="address{{i}}" placeholder="Enter Address" required>
                
                <label for="passport{{i}}" style="margin-top:73px;position:absolute;right:82.7%;"><b>Passport No:</b></label>
                <input type="text" id="passport{{i}}" style="margin-left:222px;" style="margin-left:207px;margin-top:-5px;" name="passport{{i}}" placeholder="Enter Passport No" required>

                <label for="Luggagetype{{i}}" style="margin-left:40px;"><b>Luggage Type:</b></label>
                <input type="text" id="Luggagetype{{i}}" name="Luggagetype{{i}}" placeholder="Enter Luggage Type" required>

                <label for="NoOfBags{{i}}" style="margin-left:21px;"><b>No Of Bags:</b></label>
                <input type="number" id="NoOfBags{{i}}" name="NoOfBags{{i}}" placeholder="Enter No. of Bags" required>
        {% endfor %}
        
        <div>
            <button  class="btn btn-sm btn-outline-secondary" type="submit" style="background-color: rgb(157, 18, 18);text-decoration:none;color:white;margin-left:520px;margin-top:50px;margin-bottom:50px;text-transform:uppercase;;">Confirm Booking</button>
        </div>
    </form>
    {% endfor %}

</body>
</html>