{% extends 'EmpHome.html' %}

{% block title %}Benefits{% endblock title %}

{% block body %}

<div class="container-fluid my-3">
    <img src="/static/img/services.jfif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.65);margin-bottom:90px;">
      <h3><b>LIFE INSURANCE</b></h3>
      <p>Elevate Your Journey with Exceptional Employee Services</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:30px;"><b>Elevating Careers, Empowering Lives: Our Employee Benefits Soar Above the Rest!</b></h5>
  </div>
  <div id="about-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:600px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;border-radius:11px;"></div>
  <div class="container">
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-right:220px;margin-top:100px;font-size:20px;">RMW Airlines understands the importance of financial security for its employees and their families, especially in the face of unforeseen circumstances. As part of its employee benefits package, the company offers life insurance coverage. This benefit provides employees with peace of mind, knowing that their loved ones will be financially protected in the event of their passing. The life insurance coverage offered by RMW Airlines typically provides a lump-sum payment to beneficiaries, which can help cover immediate expenses and provide long-term financial stability. By providing life insurance, RMW Airlines demonstrates its commitment to supporting its employees and their families during difficult times, offering a safety net that ensures their financial well-being and allows them to focus on what matters most.</h6>

{% endblock body %}