{% extends 'EmpHome.html' %}

{% block title %}Benefits{% endblock title %}

{% block body %}

<div class="container-fluid my-3">
    <img src="/static/img/services.jfif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.65);margin-bottom:90px;">
      <h3><b>TRAINING AND CAREER DEVELOPMENT</b></h3>
      <p>Elevate Your Journey with Exceptional Employee Services</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:30px;"><b>Elevating Careers, Empowering Lives: Our Employee Benefits Soar Above the Rest!</b></h5>
  </div>
  <div id="about-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:600px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;border-radius:11px;"></div>
  <div class="container">
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-right:220px;margin-top:100px;font-size:20px;">RMW Airlines is committed to the professional growth and development of its employees. The company offers comprehensive training programs to enhance skills, expand knowledge, and foster career advancement. These training initiatives may include technical skills development, leadership training, and industry-specific certifications. By investing in employee training, RMW Airlines ensures that its workforce remains competent, adaptable, and well-equipped to excel in their roles. The training programs offered by RMW Airlines not only benefit employees in their current positions but also provide them with opportunities for personal and professional growth within the aviation industry. By empowering employees with the necessary tools and knowledge, RMW Airlines fosters a culture of continuous learning and development, positioning its workforce for success.</h6>

{% endblock body %}