{% extends 'EmpHome.html' %}

{% block title %}Benefits{% endblock title %}

{% block body %}

<div class="container-fluid my-3">
    <img src="/static/img/services.jfif" width="1500" height="450" class="d-block w-100" alt="...">
    <div class="carousel-caption d-mu-block" style="background-color:rgba(97,86,86,0.65);margin-bottom:90px;">
      <h3><b>TRAVEL PRIVILEGES</b></h3>
      <p>Elevate Your Journey with Exceptional Employee Services</p>
    </div>
  </div>
  <div>
    <h5 class="text-center" style="color:#b71919;text-transform:uppercase;margin-top:30px;margin-bottom:30px;"><b>Elevating Careers, Empowering Lives: Our Employee Benefits Soar Above the Rest!</b></h5>
  </div>
  <div id="about-background" style="background-color: rgba(157, 18, 18,0.2);width:800px;height:600px;text-decoration:none;position:absolute;margin-left:232px;margin-right:50px;border-radius:11px;"></div>
  <div class="container">
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-right:220px;margin-top:90px;font-size:17px;">RMW Airlines takes great pride in offering extraordinary travel privileges to its dedicated employees. As part of these privileges, employees and their eligible family members are granted exclusive benefits such as reduced fares and complimentary flights. With reduced fares, employees can embark on exciting journeys to various destinations while enjoying significantly discounted ticket prices. This enables them to explore the world, connect with loved ones, and indulge in enriching travel experiences at a fraction of the cost. Furthermore, the added perk of complimentary flights provides an incredible opportunity for employees and their families to enjoy the freedom of travel without any ticket expenses. This generous benefit allows them to seize the chance to create cherished memories and embark on remarkable adventures.</h6>
    <h6 class="center-text" style="color:#212529;margin-left:220px;margin-right:220px;margin-top:20px;font-size:17px;">By providing such travel privileges, RMW Airlines demonstrates its commitment to enhancing the work-life balance and overall well-being of its employees. It recognizes the importance of rewarding their hard work and dedication with the chance to experience the joy and wonder of air travel. These privileges not only encourage personal exploration but also promote cultural understanding, personal growth, and the development of a global perspective among employees and their families. RMW Airlines firmly believes that by offering these travel privileges, it fosters a strong sense of appreciation, loyalty, and pride within its workforce, making it a preferred employer in the aviation industry.</h6>

{% endblock body %}